.signing__button {
    margin: 0;
    margin-bottom: 15px;
    border: none;
    width: 100%;
    min-height: 50px;
    background: #fff;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
    color: #000;
    cursor: pointer;
    border-radius: 2px;
}